#settingsbutton {
    width: 5%;
    height: auto;
}

#settingsbutton:hover {
    animation: settingsbuttonspin 3s infinite ease-in-out;
}

@keyframes settingsbuttonspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}